body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: #97d3ef url(images/blackgoose.png) no-repeat center 100px fixed;
  /*  background-image: url(images/bullseye.png);
  background-position: center 200px;  */
}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  background: url(images/sun.png) repeat-x center top;
  background: url(images/sun.png) left top repeat-y, url(images/sun.png) right top repeat-y, url(images/gooseshadow.png) 90% bottom no-repeat;
background-color: rgba(255, 255, 255, .5);
}
a {
  text-decoration: none;
  color: #b95530;
}
a:visited {
  color: #904225;
}
a:hover {
  color: #ce5e35;
}
a:active {
  color: #f3351e;
  background-color: lightyellow;
}
h1 {
  color: #a54b2a;
  font: bold 1.5em Georgia, serif;
  text-shadow: .1em .1em .2em gray;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: #c60;
}
dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#info p {
  font-style: italic;
}
.price {
  font-family: Georgia, serif;
  font-style: italic;
}
p.warning, sup {
  font-size: small;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}
