@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Englebert&display=swap');

body { 
  background-color: #8686ac;
  color: #8686ac;
  text-align: center;
  max-width: 800px;
  margin: 0 auto; 
  font-family: "Roboto Condensed";
font-size: 20px;
} 
h1 { 
  text-align: center; 
  font-size: 50px;
  color: #272757;
  font-family: "Roboto Condensed"; 
  font-weight: normal; 
  text-transform: uppercase; 
  border-bottom: 4px dotted #727291;
  margin-top: 40px;
  margin-bottom: 40px;
padding-bottom: 20px;
} 
h2 { 
  color: #272757;
  text-align: center;
  font-family: Englebert;
  font-size: 35px;
} 
ul {
  text-align: center;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
} 
li {
    list-style-type: none;
}
footer { 
border-top: 4px solid #727291; 
text-align: center; 
padding-top: 1em;
color: #272757;
} 
footer img { 
width: 40px; 
height: 40px; 
margin-left: .5em; 
margin-right: .5em; 
}
.container img {
border-radius: 10%
}
img:hover {
transform:scale(1.1)
}
section {
    padding: 3em min(2em, 15%);
    background-color: #505081;
    text-align: center;
    border-radius: 5rem;
    margin: 2em auto;
    
}